.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader-container svg {
  margin: 60px 60px 60px 100px;
}


/* .loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#plane{
  opacity:1;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  fill-rule:nonzero;
  stroke:none;
  marker:none;
  visibility:visible;
  display:inline;
  overflow:visible;
}


/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700'); 
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$f-primary : 'Josefin Sans', sans-serif;
$f-secondary : 'Indie Flower', cursive;
$c-front : #FFFFFF;
$c-back : #1D1F20;
$c-back-light : #383838;
$c-hilight : #FFA500;
$s-footer-height : 3rem;

%boxShadow { box-shadow: 0 0 10rem 0 #000000; }
%boxShadow--in { box-shadow: 0 0 10rem 0 #000000 inset; }

html, body { width: 100%; height: 100%; }
body { @extend %boxShadow--in; box-sizing: border-box; display: flex; align-items: center; justify-content: center; padding-bottom: $s-footer-height; background-color: $c-back; color: $c-front; font-family: $f-primary; font-size: 10px; font-weight: 100; box-shadow: 0 0 10rem 0 #000000 inset; }
footer { position: fixed; bottom: 0; left: 0; width: 100vw; height: $s-footer-height; background-color: $c-back; text-align: center; font-family: $f-secondary; font-size: 1.2rem; letter-spacing: 0.1rem; span { font-family: $f-primary; font-size: 1rem; font-weight: 100; } }
a { text-decoration: none; color: $c-hilight; &:hover { text-decoration: underline; } }
//////////////////////////////////////////////////
//////////////////////////////////////////////////

.svg-calLoader {
  width: 230px; height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane { fill: $c-hilight; }
.cal-loader__path { stroke: $c-front; animation: 1.4s ease-in-out infinite loader-path; }

@keyframes loader-spin {
  to{
    transform: rotate(360deg);
  }
}
@keyframes loader-path {
  0%{
    stroke-dasharray:  0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50%{
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100%{
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
} */