.travelCard {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    .deep_link {
        width: auto;
    }

    .travelInfo {
        display: flex;
        flex-direction: column;
    
        h5 {
            color: #222;
            margin: 0;
        }
    
        p {
            color: #444;
        }
    }

    .iconBar {
        display: flex;
        justify-content: space-between;
        height: 35px;
    
        .travelIcons {
            display: flex;
            height: 90%;
            
            .travelIcon {
                height: 100%;
                width: 40px;
                border-radius: 0.5vh;
                box-shadow: 1px 0px rgba(0, 0, 0, 0.2);
                
                .travelIcon-Container {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
            
                    img {
                        height: 100%;
                    }
                
                    svg {
                        height: 90%;
                        fill: #fff;
                    }
                
                    .travelMode,
                    .travelWeather {
                        padding: 3px;
                        display: flex;
                        height: 90%;
                        justify-content: center;
                    }

                }

                &:last-child {
                    box-shadow: none;
                }

                &:not(:first-child) {
                    display: flex;
                    justify-content: flex-end;
                    width: 78px;
                    margin-left: -40px;

                    .travelMode,
                    .travelWeather {
                        justify-content: center;
                        padding-right: 5px;
                    }
                }
            }
        }
    
        .selectCardIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            min-width: 60px;
        
            p {
                color: #222;
                margin: 0;
                margin-right: 5px;
            }
        
            svg {
                width: 30px;
                fill: #222;
            }
        }
    }
}





