.route {
  padding: 1rem 0 1rem 0
}

.routeRedirectIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 60px;
    transform: rotate(180deg);
    margin-top: 1px;
    cursor: pointer;
}

.routeOptions {
  height: 100%;
  flex: 1;
  overflow: scroll;
}
    
@media only screen and (min-width: 769px) {
  .routeOptions {
    max-width: 500px;
  }
}
