#map {
  height: 100%;
  width: 100%;
  padding-left: 50%;
}

@media only screen and (max-width: 768px) {
  .mapboxgl-ctrl-group {
    display: none;
  }
}

.mapboxgl-canvas {
  border-radius: 5px;
}

#noSearchMap {
  flex: 1;
}

#journeyDataMap {
  flex: 2;
}

#noSearchTravelOptions {
  flex: none;
  overflow: none;
  height: 0;
}

#journeyDataTravelOptions {
  flex: 1;
}
