.background {
  border: 0.5px solid white;
}

/* We first create a flex layout context */
.travelPage {
  height: 90vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-top: 1px solid lightgray;
}

.travelOptions {
  height: 100%;
  flex: 1;
  overflow: scroll;
}

.travelMap {
  flex: 2;
}

@media only screen and (max-width: 768px) {
  .travelPage {
    flex-direction: column-reverse;
  }

  .toggleMap {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .travelOptions {
    max-width: 500px;
  }
}
