.gallerygrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
    .gallerygrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 425px) {
    .gallerygrid {
        grid-template-columns: 1fr;
    }
}