.stepLocation {
    font-weight: bold;
}

.stepInstruction {
    font-style: italic;
}

.stepTravelIcons {
    height: 30px;
    width: 30px;
    padding: 2px;
}

.stepConnection{
    border-right: 1px solid lightgray;
    min-height: 10rem
}
