
html {
  scroll-behavior: smooth;
}
.section-home {
  background-image: url("../../common/images/background6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.section-home-content {
  margin-top: 5%;
  margin-bottom: 3%;
}

.quote {
  filter: drop-shadow(5px 5px 5px #222);
  color: azure;
  text-align: center;

}
.logo {
  width: 25%;
  min-width: 9rem;
  height: 43%;
  filter: drop-shadow(5px 5px 5px #222);
}

/* Overriding bootstrap  */
.card {
  background-color: transparent;
  box-shadow: 0px 0px 0px;
  border: 0px;
}

/* Overriding bootstrap  */
.card-container.card {
  padding: 10px 10px;
}

.homeArrow {
  height: 3rem;
  width: 3rem;
  fill: lightgray;
  transform: rotate(90deg)
}

.homeArrow svg {
  height: 100%;
  width: 100%;
}

.arrowcontainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
