/* Override */
.btn-secondary {
  background-color: #ee6c4d;
  border-color: #ee6c4d;
}
.searchpair {
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.boxsize {
  height: 2rem;
}
.homesearch {
  flex-direction: column;
}

.cities {
  min-width: 193px;
  position: absolute;
  height: auto;
  color: #495057;
  font-weight: bold;
  border-radius: 5px;
  border-color: #495057;
  line-height: 2;
  z-index: 2;
  padding: 0.1rem 0.5rem;
}

.cities p {
  margin: 0;
  background-color: white;
}

@media (max-width: 576px) {
  .searchpair {
    flex-direction: column;
  }
  .travelsearch {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
