.section-login {
  background-image: url("../../common/images/background7.jpg");
  background-size: cover;
  background-position: center;
  background-color: #293241;
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.loginButton,
.registerButton {
  background-color: #ee6c4d;
}
