.loaderbackground {
  height: 100vh;
  width: 100vw;
}


label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 10px 10px;
}

.card {
  background-color: transparent;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
}

.overlay {
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.9)
  );
  height: 100%;
}

.medium-text {
  font-size: 2vh;
  color: #e0fbfc;
}
.heading-text {
  font-size: 4vh;
  font-weight: 700;
  color: #e0fbfc;
}

/* Bouncing animation  */
.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.hu__hu__ {
  animation: hu__hu__ infinite 2s ease-in-out;
}
@keyframes hu__hu__ {
  50% {
    transform: translateY(5px);
  }
}
